<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnimationPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AnimationPlayer.Properties.Settings>
      <setting name="StreamLink_hls_segment_threads" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StreamLink_video_querity" serializeAs="String">
        <value>best</value>
      </setting>
      <setting name="Vlc_file_caching" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Vlc_network_caching" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Animated_Character_Normal_Source" serializeAs="String">
        <value>https://i.pinimg.com/originals/ad/4f/a3/ad4fa32b124381aa6bc1e73490748277.gif</value>
      </setting>
      <setting name="Animated_Character_Enter_Source" serializeAs="String">
        <value>https://4.bp.blogspot.com/-yLL899xkV-A/Wwufve6-2WI/AAAAAAAJlig/QYUS0iS1R98IJjYZ1ISEpOgy1r7OCMo1gCLcBGAs/s1600/AW1121058_05.gif</value>
      </setting>
      <setting name="Chrome_Player_Width" serializeAs="String">
        <value>1300</value>
      </setting>
      <setting name="Chrome_Player_Height" serializeAs="String">
        <value>810</value>
      </setting>
      <setting name="M3u8Player_ID" serializeAs="String">
        <value>emgegpdfcimcmfdplkpbiakpnjhoingk</value>
      </setting>
    </AnimationPlayer.Properties.Settings>
  </userSettings>
</configuration>